@charset 'utf-8';
@import "./utils/variables";
@import "./base/base";
@import "./base/fonts";
@import "./base/reset";
$mint: #15dea5;
$navy: #022f40;
.btn__wrap {
  position: relative;
}

.btn__color2gradient {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  &--outline {
    z-index: 1;
  }
  &--fill {
    background: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);
    opacity: 0;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: opacity 0.5s linear;
    z-index: 0;
  }

  &--outline:hover {
    transition: opacity 0.2s linear;
    opacity: 0;

    +.btn__color2gradient--fill {
      transition: opacity 0.2s linear;
      opacity: 1;
    }
  }
}
