.location {
  display: flex;
  justify-content: center;
  padding: 0.8rem $app-padding;
  background-color: rgb(243, 243, 243);
  position: relative;
  color: #353535;

  &__icon {
    margin-right: 1rem;
  }

  &__text {
    font-size: 1rem;
    font-weight: 500;
  }
}

.howto {
  padding: ($app-padding + 2rem) $app-padding;
  font-size: 1rem;

  &__title {
    margin-top: 0;
  }
  &__steps {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: step-counter;

    @media (min-width: 64rem) {
      display: flex;
    }
  }
  &__step {
    padding: 1.5rem;
    margin: 1.4rem 0 1.4rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    align-items: center;
    font-weight: 500;
    color: #7e7e7e;
    cursor: pointer;

    @media (min-width: 64rem) {
      flex: 1;
      margin: 0;
      margin-left: 2rem;
      &:first-child {
        margin-left: 0.75rem;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      counter-increment: step-counter;
      content: counter(step-counter) " ";
      background: $color-primary;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      left: -0.75rem;
    }
    &:hover {
      background-color: lighten($color-primary, 36%);
      color: $color-primary;
    }
  }

  &__icon {
    margin-right: 1rem;

    font-size: 1rem;
  }
  &__text {
    color: black;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: ($app-padding + 2rem) $app-padding;
  line-height: normal;
  &__title {
    margin-bottom: 1rem;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;

  @media (min-width: 64rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;

  &__img {
    height: 11rem;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
    @media (min-width: 64rem) {
      height: 18rem;
    }
  }

  &__badge {
    background-color: $color-tertiary;
    color: darken($color-tertiary, 37%);
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
    position: absolute;
    top: 1rem;
    right: 0.75rem;
    font-size: 0.9rem;
    font-weight: 500;
  }

  &__footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__content {
    flex: 1;
  }

  &__title {
    margin: 0;
    margin-bottom: 0.25rem;
  }

  &__subtitle {
    margin: 0;
  }
}
.like {
  @include like();
}
