.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.90);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display:flex;
  align-items:center;
  justify-content:center;

  &__item {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    animation: jump 1s;
    animation-iteration-count: 1;

    &Container {
      display: flex;
      width: 5rem;
      justify-content: space-between;
    }

    &--1 {
      background-color: $color-primary;
    }
  
    &--2 {
      background-color: $color-secondary;
      animation-delay: 0.25s;
    }
  
    &--3 {
      background-color: $color-tertiary;
      animation-delay: 0.5s;
    }
  }

  
}