.footer {
  
  background-color: #353535;
  color: $color-footer;
  padding: $app-padding;
  
  &__logo {
    font-family: "Shrikhand", "cursive";
    margin-top: 3rem;
    font-size: 1.2rem;
  }

  &__list {
    list-style: none;
  
    display: flex;
    flex-direction: column;
    padding: $app-padding;
    

    @media (min-width: 64rem) {
      flex: 1;
      flex-direction: row;
      margin-top: 3rem;
      justify-content: space-between;
    }
  }

  &__element {
    margin: 0.5rem 0;


    @media (min-width: 64rem) {
      margin-top: 1rem;
      display: inline-block;
    }
  }

  &__link {
    color: $color-footer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    width: 1.2rem;
    margin-right: 0.5rem;
  }
}
